body {
  background-color: #cfcfcf;
}
table {
  margin: 0 auto;
  text-align: center;
}
form, footer {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
header {
  text-align: center;
}
header .logo {
  width: 200px;
}
footer .logo {
  width: 100px;
}

tr:nth-child(odd) {
  background-color: #aaa;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
tr:hover {
  color: green;
}
